

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">User</a></li>
      <li class="breadcrumb-item active" aria-current="page">List All</li>
    </ol>
  </nav>

  
  <div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">List All</h6>
          <div class="table-responsive">
            <table id="dataTableExample" class="table">
              
              
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>