<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">User</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add new</li>
    </ol>
  </nav>

<div class="col-md-12  grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <form  [formGroup]="exform"  (ngSubmit)=submitForm()>
          <div class="row">

            <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label"> Name&nbsp;<span class="text-danger">*</span></label>
                <input formControlName="name" type="text"  class="form-control" placeholder="Name">
                <small *ngIf = "exform.get('name').invalid && exform.get('name').touched" class="text-danger"> Name is required</small>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label">Email&nbsp;<span class="text-danger">*</span></label>
                <input formControlName="email" type="email"  class="form-control"placeholder="Email">
                <small *ngIf = "exform.get('email').invalid && exform.get('email').touched"  class="text-danger"> Email is Required</small>
            </div>
          </div>


            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label">Mobile No.&nbsp;<span class="text-danger">*</span></label>
                <input type="number" formControlName="mobile_no"  class="form-control" placeholder="Mobile No. ">
                <small  *ngIf = "exform.get('mobile_no').invalid && exform.get('mobile_no').touched"   class="text-danger">Mobile No. is Required</small>
            </div>
          </div>
          

            <div class="col-md-4">
            <div class="form-group">
                <label class="col-form-label">Password&nbsp;<span class="text-danger">*</span></label>
                <input type="password" formControlName="password"  class="form-control" placeholder="password ">
                <small  *ngIf = "exform.get('password').invalid && exform.get('password').touched"   class="text-danger">password is required</small>
            </div>
          </div>

             <!--  
               <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label">Last Login&nbsp;<span class="text-danger">*</span></label>
                <input formControlName="last_login" type="number"  class="form-control"placeholder="Last Login">
                <small *ngIf = "exform.get('last_login').invalid && exform.get('last_login').touched"  class="text-danger">Last Login is Required</small>
            </div>
          </div>


            <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label">IP Address&nbsp;<span class="text-danger">*</span></label>
                <input  type ="text" formControlName="ip_address"  class="form-control" placeholder="IP Address">
                <small  *ngIf = "exform.get('ip_address').invalid && exform.get('ip_address').touched"   class="text-danger">ip address is required</small>
              </div>   
            </div>
                --> 


    
          <div class="col-md-4">
            <div class="form-group">
                <label class="col-form-label" >User Type&nbsp;<span class="text-danger">*</span></label>
                <select formControlName="user_type" class="form-control" id="user_type">
                    <option selected enabled>Select User type </option>
                    <option>12-18</option>
                    <option>18-22</option>
                    <option>22-30</option>
                    <option>30-60</option>
                    <option>Above 60</option>
                  </select>
                  <small *ngIf = "exform.get('user_type').invalid && exform.get('user_type').touched"  class="text-danger"> User Type is Required</small>
            </div>
         </div>


          
         <div class="col-sm-2">
          <div class="form-group">
            <label class="col-form-label">Status</label> 
          &nbsp; &nbsp;
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" formControlName="status"   value="Active">
              <i class="input-frame"></i>
           Active
            </label>
          </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" formControlName="status"  value="Inactive" >
                <i class="input-frame"></i>
                Inactive
              </label>
            </div>
          </div>
      </div>

          <div class="col-md-8">
            <div class="form-group">
                <label>Profile-Pic</label>
                <input (change)="handleFileInput($event)"  formControlName="profile_pic" class="form-control" type="file" name="img[]" class="file-upload-default" id="fileUploadInputExample">
                <div class="input-group col-xs-12" (click)="openFileBrowser($event)">
                  <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                  <span class="input-group-append">
                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                  </span>
                </div>
              </div>
            </div>

        
          <div class="col-md-12 grid-margin stretch-card">
         
            <div class="card-body d-flex flex-column align-items-center">
            <div class="form-group">
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
              </div>
            </div>
          </div>

            </div>
        </form>
      </div>
    </div>
  </div>