<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Brands</a></li>
    <li class="breadcrumb-item active" aria-current="page">Liat All</li>
  </ol>
</nav>


<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Liat All</h6>
        <div class="table-responsive">
          <table id="dataTableExample" class="table">
            <thead>
              <tr>
                  <th> # </th>
                  <th> Name </th>
                  <th>About </th>
                  <th>Meta Title</th>
                  <th>Meta Description</th>
                  <th>  Featured</th>
                  <th>  Status</th>
                  <th>  Logo</th>
                  <th>  Status</th>
                  <th>  Logo</th>                
                </tr>
            </thead>
            <tbody>
          <!--    <tr *ngFor="let field of categorys; let i = index">
                  <th> {{i+1}} </th>
                  <td> {{field.name}} </td>
                  <td> {{field.about}} </td>
                  <td> {{field.meta_title}} </td>
                  <td>{{field.meta_description}}</td>
                  <td>{{field.featured}}</td>
                  <td> {{field.status}} </td>
                  <td>{{field.logo}}</td>
                 
                </tr>
                -->
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>